<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Flashlight permissions (our unique feature) -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    
    <!-- Media playback permissions (same as Spotify) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" android:minSdkVersion="34" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- Storage permissions for reading audio files from device -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" android:minSdkVersion="33" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.flash"/>

    <application
        android:name=".FlashlightApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".main.SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.BrandedLaunch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.jquery404.flashlight.ACTION_PLAY" />
                <action android:name="com.jquery404.flashlight.ACTION_PAUSE" />
                <action android:name="com.jquery404.flashlight.ACTION_NEXT" />
                <action android:name="com.jquery404.flashlight.ACTION_PREV" />
            </intent-filter>
        </activity>
        
        <receiver
            android:name=".main.MediaNotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.jquery404.flashlight.ACTION_PLAY" />
                <action android:name="com.jquery404.flashlight.ACTION_PAUSE" />
                <action android:name="com.jquery404.flashlight.ACTION_NEXT" />
                <action android:name="com.jquery404.flashlight.ACTION_PREV" />
                <action android:name="com.jquery404.flashlight.ACTION_SEEK_FORWARD" />
                <action android:name="com.jquery404.flashlight.ACTION_SEEK_BACKWARD" />
                <action android:name="com.jquery404.flashlight.ACTION_SEEK_TO_PERCENT" />
            </intent-filter>
        </receiver>
        
        <service
            android:name=".service.MusicPlaybackService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            android:stopWithTask="false" />

    </application>

</manifest>